.body {
    margin: 0;
    padding: 0;
  }
  
  .content {
    padding: 30px;
  }
  
  .task {
    transform: rotate(90deg);
    flex-direction: row;
    position: relative;
    left: 30px;
    width: 100%;
    margin-bottom: 17rem;
  }
  
  .task__item {
    border: 3px solid;
    background-color: aqua;
    width: 250px;
    height: 200px;
  }
  
  .task__item:nth-child(2) {
    background-color: lightgrey;
  }
  
  .task__item:nth-child(3) {
    background-color: powderblue;
  }
  
    